/* mail list */

.mails-container {
    width: 90vw;
    /* height: calc(100vh - 190px); */
    height: 85.5vh;

    margin-block-start: .5em;
    margin-left: auto;
    margin-right: 1em;
    background-color: #ffffff;
    color: #202124;
    border-radius: 10px;

    overflow-y: scroll;
}

.mail-item {
    width: auto;
    height: 20px;

    font-size: 0.875em;
    line-height: 1.5em;
    padding: 10px;
    background: #ffffff;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
}

.hover-icons {
    display: none;
}

.mail-item:first-of-type {
    border-radius: 5px 5px 0 0;
}

.mail-item:last-of-type {
    border-radius: 0 0 5px 5px;
}

.mail-subject,
.mail-from,
.mail-sent-at {
    font-weight: 700;
}

/* Mail item hover states */

.mail-item:hover {
    outline: 1px solid #D5DBE2;
    box-shadow: 0 0 1px 1px #D5DBE2 inset;
    cursor: pointer;
}

.mail-item:hover .mail-sent-at {
    opacity: 0;
}

.mail-item:hover .mail-star:not(.star) {
    color: black;
}

.mail-item:hover .mail-star.star {
    color: #d4a117;
}

.mail-item:hover .hover-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 1;
}

.hover-icon {
    position: relative;
    margin-left: auto;

}


/* --- */

.mail-star {
    color: #C3C4C3;
    position: relative;
    margin-inline: 10px;
    transition: text-shadow .3s;
}

.mail-star.star {
    color: #F4B400;
}

.mail-star::before,
.hover-icon::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;

    border-radius: 50%;

    width: 35px;
    height: 35px;
    scale: 0;
    background-color: rgb(0 0 0 / 0.1);
    transition: scale .2s;
}

.mail-star:hover::before,
.hover-icon:hover::before {
    scale: 1;
}

.mail-from {
    position: relative;
    width: 168px;
    padding-inline-end: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-body {
    text-align: left;
}

.mail-content {
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mail-sent-at {
    margin-left: auto;

    min-width: 56px;
    font-size: 0.75em;
    margin-inline-start: 20px;
    padding-inline-end: 16px;
    text-align: right;
}

/* Read Mail */

.mail-item.read {
    background-color: #f2f6fc;
}

.mail-item.read .mail-subject,
.mail-item.read .mail-from,
.mail-item.read .mail-sent-at {
    font-weight: 400;
}

.mail-item.read .mail-sent-at {
    color: #5f6368;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #919191;
}

/* Misc */

.separator {
    width: 32px;
    height: 20px;
}

@media (max-width: 480px) {
    .mails-container {
        height: 73vh;
    }

    .mail-item {
        flex-direction: column;
        height: 100px;
        margin-inline-start: 3em;
        padding-inline-start: 0;
        overflow-x: hidden;
        padding-block: 0;
    }


    .mail-item:hover .hover-icons {
        display: none;
    }

    .mail-item:hover .mail-sent-at {
        opacity: 1;
    }

    .mail-subject {
        width: 90vw;
        height: 20px;
        /* overflow-x: hidden; */
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .mail-from {
        width: 100vw;
        padding-inline-end: .5em;
    }

    .separator {
        display: none;
    }

    .mail-content {
        display: flex;
        flex-direction: column;
        padding-inline-start: 3.2em;
    }

    .mail-body {
        width: 65vw;
        height: 20px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .mail-sent-at {
        position: relative;
        margin-left: auto;
        padding-inline-end: 0;
        width: fit-content;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

}