.mail-header {
    display: flex;
    align-items: center;

    height: 64px;
    background-color: #f6f8fc;

}

.logo-menu-container,
.logo-container,
.menu-container {
    display: flex;
    align-items: center;
}

.logo-menu-container {
    width: 238px;
    height: 64px;
    margin: .5em;
}

.logo-container {
    width: 109px;
    height: 44px;
}

.menu-container {
    justify-content: center;
    width: 40px;
    height: 44px;
    margin: .25em;
    text-align: center;
}

.logo {
    width: 109px;
    height: auto;
    object-fit: contain;
}

.menu-container {
    position: relative;
}

.menu-container:hover {
    cursor: pointer;
}

.menu-container::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0px;

    border-radius: 50%;

    width: 40px;
    height: 40px;
    scale: 0;
    background-color: rgb(0 0 0 / 0.1);
    transition: scale .1s;
}

.menu-container:hover::before {
    scale: 1;
}

@media (max-width: 480px) {
    .logo-container {
        display: none;
    }

    .logo-menu-container {
        width: 0;
    }


    .menu-container {
        position: absolute;
        left: 1.5em;
        z-index: 10;
    }
}