.sort-filter-container {
    display: flex;
    align-items: center;
    gap: 2em;

    width: 80vw;
    height: 32px;
    margin: auto;
    background-color: #f6f8fc;
    user-select: none;
}

.sort-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    
    height: 32px;
}

.sort-icon:hover {
    cursor: pointer;
}