.sort-filter-container {
    display: flex;
    align-items: center;

    width: 80vw;
    height: 32px;
    margin: auto;
    background-color: #f6f8fc;
}

.filter-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    
    margin-inline-start: 1.5em;
    height: 32px;
}

.filter-icon {
    height: auto;
}

.filter-icon:hover {
    cursor: pointer;
}