:root {
    --main-bg-color: lightblue;

    /* note */
--textbar-clr-note: #5f6368;
--hover-btn-note: rgba(218, 218, 218, 0.3);

}

/* Google Icons */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}