.edit-note-container {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 600px;
    height: 181px;
    z-index: 30;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 

  }
 
