.edit-note-container {
  position: fixed;
  display: flex;
  justify-content: left;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 600px;
  height: 181px;
  z-index: 30;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.edit-note-input {
  font-size: 24px;
  margin-top: 15px;
  margin-left: 10px;
  width: 100%;
  border: none;
}

.edit-note-section-for-input{
  width: 90%;
}

.edit-note-input-url {
  margin-left: 10px;
  font-size: 16px;
  margin-top: 15px;
  width: 100%;
  border: none;
}

.icones-display-edit{

  
}

.note-actions-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 10px;
  bottom: 10px; 
  width: calc(100% - 20px); 
  transition: 0.6s ease;
}

.submit-icons-edit {
  position: absolute;
  bottom: 10px;
  right: 14px;
  display: flex;
  justify-content: right;
  gap: 15px;
  cursor: pointer;
  z-index: 50;
}