 /* note list */



 .note-list-container{
    margin-block-start: 3em;

 }


 .note-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 20px;
    padding: 10px;
    list-style: none;
    text-align: center;
 }

 .note-list-container {
   padding: 20px;
}

.note-list {
   list-style-type: none;
   padding: 0;
}

.note-item {
   padding: 20px;
   margin-bottom: 10px;
   border-radius: 8px;
 
}

.note-actions {
   margin-top: 10px;
}

.note-actions button {
   margin-right: 5px;
   padding: 5px;
   background-color: #f0f0f0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.note-actions button:hover {
   background-color: #ddd;
}