/* note list */

.note-list-container {
   margin-block-start: 3em;
   position: relative;
   padding: 10px;
   width: 90%;
   max-width: 930px; 
   margin: auto; 

}

.note-list {
   column-count: 3;
   column-width: 140px;
   column-gap: 10px;
   margin-block-end: 10px;
   width: 100%; /* Full width within the container */
   /* padding-block-end: 50px; */
   list-style-type: none;
   transition: 0.6s ease;
}

.note-item {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   margin-bottom: 20px; /* Increased margin bottom */
   border-radius: 8px;
   transition: 0.6s ease;
   width: 240px; 
   height: auto;
   min-height: 100px; 
   overflow: hidden;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.note-item:hover {
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.note-preview {
   transition: 0.6s ease;
}

/* inside cont */
.note-actions {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   left: 10px;
   bottom: 10px; 
   width: calc(100% - 20px); 
   /* transition: 5s ease; */
}

.pin-icon {
   position: absolute;
   top: 4px;
   right: 4px;
}

.other-icons {
   display: flex;
   align-items: center; 
   margin-left: -5px;

   gap: 10px; 
}

.icones-display {
   opacity: 0;
   transition: opacity 0.6s;
}

.note-item:hover .icones-display {
   opacity: 1;
   pointer-events: auto;
}

.color-picker {
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   bottom: 10px; 
   left: 10px; 
   transform: translateX(20%);
   background: white;
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 8px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
   z-index: 100;
}

.color-option {
   width: 20px;
   height: 20px;
   margin: 4px;
   cursor: pointer;
   border-radius: 50%;
   transition: background-color 0.3s ease;
   box-shadow: inset 0 0 0 1px transparent;
}

.color-option:hover {
   box-shadow: inset 0 0 0 1px black;
}

.icone-hover {
   cursor: pointer;
   padding: 6px; 
}

.icone-hover:hover {
   border-radius: 50%;
   background-color: var(--hover-btn-note);
}

.is-notpinned-title,
.is-pinned-title {
   font-weight: 400;
   font-family: "Google Sans", "WorkSans-Light", RobotoDraft, Helvetica, Arial, sans-serif;

   color: var(--textbar-clr-note);

   text-align: center;
}

