 /* note list */



 .note-list-container{
    margin-block-start: 3em;

 }


 .note-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
    list-style: none;
    text-align: center;
 }