.mail-details-container {
    position: relative;

    margin: auto;
    width: 75vw;
    height: 80vh;

    background-color: inherit;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.5);
    box-shadow: 0 1px 1px 1000px rgb(0 0 0 / 0.5);
    border-radius: 10px;
    margin-block: .5em;
    padding: 1em 4em;
    overflow-y: auto;
}

.mail-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-block: 2em;
}

.mail-details-subject {
    font-weight: 400;
    font-size: 1.375em;
}

.mail-details-from {
    font-weight: 600;
    margin-block-end: 0;
}

.mail-details-to {
    margin-block-start: 0;
}

.btn-back {
    position: absolute;
    top: .5em;
    left: 0;
    background-color: inherit;
    border: none;
}

.btn-back:hover {
    cursor: pointer;
}

.to-from-container {
    position: relative;
}

.to-from {
    display: flex;
    flex-direction: column;
}

.from-profile-img {
    position: absolute;
    top: .8em;
    left: -3.2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-right {
    font-size: 0.75em;
    color: #5e5e5e;
}

@media (max-width: 480px) {
    .mail-details-container {
        margin: auto;
        width: 55vw;
        height: 80vh;

        margin-block: 0;
        padding-inline: 4em;
        padding-block: 0;

        background-color: inherit;
        box-shadow: 0 1px 3px rgb(0 0 0 / 0.5);
        box-shadow: 0 1px 1px 1000px rgb(0 0 0 / 0.5);
        border-radius: 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .header-right {
        position: absolute;
        top: 3em;
        right: .5em;
        width: 50px;
    }
}