.user-msg {
    background-color: lightgray;
    padding: .5em 1em;
    position: fixed;
    top: 0;
    right: 0;
    
    color: var(--gray3);
    font-weight: bold;

    border-bottom-left-radius: 10px;
}

.user-msg.success {
    background-color: var(--clr4);
}

.user-msg.error {
    background-color: var(--clr5);
}

.user-msg button {
    float: right;
    margin: .5em;
}