body {
    margin: 0;
    font-family: "Google Sans", "Roboto-Regular", RobotoDraft, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-screen {
    position: fixed;
    inset: 0;
    background-color: #54545474;
    cursor: pointer;
    z-index: 25;
  }