.about {

    height: 70vh;
    text-align: center;
    margin-block-start: 10vh;

    padding-inline: 2em;
    color: #1e1e1e;

}

.about * {
    box-sizing: border-box;
}

.about-content {
    background-color: rgb(253, 228, 194);
    padding: 12px;
    border-radius: 8px;


}

.about-header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.about-header h2 {
    margin-block-end: 1em;
}

.social-container h3 {
    width: 200px;
}

.images-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.pixel-img {
    
    padding: 15px 0;
    width: auto;
    height: auto;
    margin: auto;
    object-fit: contain;
    border-radius: 40px;
    max-height: 300px;
    margin-bottom: 10px;
   
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 50px;
    margin: auto;
    margin-bottom: 3em;
}

.links {
    display: flex;
    gap: .5em;
    width: 100px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: auto;
}

.social-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    padding-inline-start: 10px;
    transition: scale .2s;
}

.social-logo:hover {
    cursor: pointer;
    scale: 1.1;
}


@media (max-width: 480px) {
    .about {
        margin-block-start: 2em;
        gap: 1em;
        font-size: .9em;
    }

    .about-content {
        height: 85vh;
    }

    .pixel-img {
        height: 200px;
    }

    .social-logo {
        width: 25px;
        height: 25px;
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        margin: auto;
    }

    .links {
        justify-content: center;
    }
}