/* MOBILE */

@media (max-width: 500px) {

    .note-list {
        column-count: 1;

    }

    .note-filter-section {
        display: flex;
        justify-content: center;

    }

    .note-list-container {
        width: 100%;
    }

    .note-filter-img {
        display: none;
    }

    .edit-note-container {
        position: fixed;
        display: flex;
        justify-content: left;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 300px;
        height: fit-content;
        min-height: 300px;
        z-index: 30;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      
      }


}



/* Med */

@media (min-width: 501px) and (max-width: 740px) {

    .note-list {
        column-count: 1;

    }

    .note-filter-img {
        display: none;
        display: flex;
    }

    .note-filter-section {
        display: flex;
        justify-content: flex-end;

    }

    .note-filter-img {
        display: block;
        display: flex;
        margin-right: 1em;
    }

    .note-list-container {
        width: 70%;
    }

    .edit-note-container {
        position: fixed;
        display: flex;
        justify-content: left;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 440px;
        height: fit-content;
        min-height: 180px;
        z-index: 30;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      
      }

}


@media (min-width: 741px) and (max-width: 970px) {

    .note-list {
        column-count: 2;
    }

    .note-filter-img {
        display: none;
        display: flex;
    }

    .edit-note-container {
        position: fixed;
        display: flex;
        justify-content: left;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 600px;
        height: fit-content;
        min-height: 180px;
        z-index: 30;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      
      }


}



/* LARGE */
@media (min-width: 1000px) {
    .note-list {
        column-count: 3;

    }



    .note-filter-img {
        display: none;
        display: flex;
    }

}