.accordion {
    --margin: 0.4em;
    --time: 0.2s;
    padding: 10px;
    width: 60vw;
    max-width: 300px;
    height: 48px;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.41);
    margin-block-start: -2em;
    background-color: #ffffff;
    border-radius: 24px;
}



/** TITLE CONTAINER */
.accordion .title-container {
    cursor: pointer;
    
}



.accordion .title-container .arrow {
    scale: 1.5;
    transition: rotate var(--time);
}

/** CONTENT */
.accordion .content {
    max-height: 0;
    font-size: 1.1em;
    padding: 0 var(--margin);
    overflow: hidden;

}

/** OPEN STATE */
.accordion.open .content {
    max-height: 100%;
}

