.app-header {
    display: flex;
    justify-content: space-between;

    padding: 20px 0;
    border-bottom: 2px solid white;

    background: #F0D6B3;
    font-family: "WorkSans-Regular", sans-serif;
}

.app-logo-container {
    height: 80px;
    width: 80px;
    margin-inline-start: 1em;
}

.app-logo {
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: #183664;
    font-weight: bold;
    text-decoration: overline;
}

.nav-menu {
    display: none;
}

@media (max-width: 480px) {
    .app-header {
        position: relative;
        width: 100%;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline-end: 1em;
    }

    .nav-menu:hover {
        cursor: pointer;
    }

    nav a.active:hover {
        cursor: default;
    }

    nav {
        display: none;
    }

    nav.open {
        display: flex;
        position: absolute;
        top: 7.5em;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 20;

        background-color: #F0D6B3;
    }

    nav.open a {
        text-align: center;
        width: 100vw;

        transition: scale .3s;
    }

    nav a:hover:not(.active) {
        scale: 1.2;
    }

}